<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Производители</h2>

<div>

    <a href="{% url 'contracts:create_manufacturers' %}">Создать</a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Производители</th>
        <th>Дата создания</th>
    </tr>
    </thead>

    <tbody>
  {% for manufacturer in manufacturers %}
    <tr>
        <td>{{ manufacturer.id }}</td>
        <td>{{ manufacturer.name }}</td>
        <td>{{ manufacturer.created_at|date:'d.m.Y' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ BACK_URL }}">Назад</a>
</body>
</html>